## Hackerearth CrowdStrike Hackathon Solution for Round 3

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [5]:
df = pd.read_csv("Training.csv")
df

,YEAR,QUARTER,COUNTRY_NAME,PASSENGERS_TO_INDIA,PASSENGERS_FROM_INDIA,FREIGHT_TO_INDIA,FREIGHT_FROM_INDIA
0,2015,Q1,AFGHANISTAN,37194,32721,96.7,676.4
1,2015,Q1,AUSTRALIA,16676,19075,89.7,423.7
2,2015,Q1,AUSTRIA,13318,15529,563.8,707.0
3,2015,Q1,BAHRAIN,114087,133527,585.7,1909.5
4,2015,Q1,BANGLADESH,76357,75673,624.1,1052.9
...,...,...,...,...,...,...,...
427,2016,Q4,UNITED KINGDOM,344803,271671,11162.8,16590.3
428,2016,Q4,UNITED STATES,141495,120505,1444.4,2542.4
429,2016,Q4,UZBEKISTAN,14028,11794,1012.9,1329.8
430,2016,Q4,VIETNAM,0,0,0.0,0.0
431,2016,Q4,YEMEN,1111,1268,0.0,3.9

In [12]:
dummies1 = pd.get_dummies(df.QUARTER)
dummies1

     Q1  Q2  Q3  Q4
0     1   0   0   0
1     1   0   0   0
2     1   0   0   0
3     1   0   0   0
4     1   0   0   0
..   ..  ..  ..  ..
427   0   0   0   1
428   0   0   0   1
429   0   0   0   1
430   0   0   0   1
431   0   0   0   1

[432 rows x 4 columns]

In [13]:
dummies2 = pd.get_dummies(df.COUNTRY_NAME)
dummies2

,AFGHANISTAN,AUSTRALIA,AUSTRIA,BAHRAIN,BANGLADESH,BELGIUM,BHUTAN,BURMA,CANADA,CHINA,...,TAIWAN,TAJIKISTAN,THAILAND,TURKEY,TURKMENISTAN,UNITED KINGDOM,UNITED STATES,UZBEKISTAN,VIETNAM,YEMEN
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
428,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
429,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
430,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
431,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
merged = pd.concat([df,dummies1,dummies2],axis='columns')
merged

,YEAR,QUARTER,COUNTRY_NAME,PASSENGERS_TO_INDIA,PASSENGERS_FROM_INDIA,FREIGHT_TO_INDIA,FREIGHT_FROM_INDIA,Q1,Q2,Q3,...,TAIWAN,TAJIKISTAN,THAILAND,TURKEY,TURKMENISTAN,UNITED KINGDOM,UNITED STATES,UZBEKISTAN,VIETNAM,YEMEN
0,2015,Q1,AFGHANISTAN,37194,32721,96.7,676.4,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,Q1,AUSTRALIA,16676,19075,89.7,423.7,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,Q1,AUSTRIA,13318,15529,563.8,707.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015,Q1,BAHRAIN,114087,133527,585.7,1909.5,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,Q1,BANGLADESH,76357,75673,624.1,1052.9,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,2016,Q4,UNITED KINGDOM,344803,271671,11162.8,16590.3,0,0,0,...,0,0,0,0,0,1,0,0,0,0
428,2016,Q4,UNITED STATES,141495,120505,1444.4,2542.4,0,0,0,...,0,0,0,0,0,0,1,0,0,0
429,2016,Q4,UZBEKISTAN,14028,11794,1012.9,1329.8,0,0,0,...,0,0,0,0,0,0,0,1,0,0
430,2016,Q4,VIETNAM,0,0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
431,2016,Q4,YEMEN,1111,1268,0.0,3.9,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
final = merged.drop(['QUARTER','COUNTRY_NAME'], axis='columns')
final

,YEAR,PASSENGERS_TO_INDIA,PASSENGERS_FROM_INDIA,FREIGHT_TO_INDIA,FREIGHT_FROM_INDIA,Q1,Q2,Q3,Q4,AFGHANISTAN,...,TAIWAN,TAJIKISTAN,THAILAND,TURKEY,TURKMENISTAN,UNITED KINGDOM,UNITED STATES,UZBEKISTAN,VIETNAM,YEMEN
0,2015,37194,32721,96.7,676.4,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2015,16676,19075,89.7,423.7,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,13318,15529,563.8,707.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015,114087,133527,585.7,1909.5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,76357,75673,624.1,1052.9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,2016,344803,271671,11162.8,16590.3,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
428,2016,141495,120505,1444.4,2542.4,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
429,2016,14028,11794,1012.9,1329.8,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
430,2016,0,0,0.0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
431,2016,1111,1268,0.0,3.9,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [22]:
X = final.drop(['PASSENGERS_TO_INDIA'],axis='columns')
X

,YEAR,PASSENGERS_FROM_INDIA,FREIGHT_TO_INDIA,FREIGHT_FROM_INDIA,Q1,Q2,Q3,Q4,AFGHANISTAN,AUSTRALIA,...,TAIWAN,TAJIKISTAN,THAILAND,TURKEY,TURKMENISTAN,UNITED KINGDOM,UNITED STATES,UZBEKISTAN,VIETNAM,YEMEN
0,2015,32721,96.7,676.4,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,19075,89.7,423.7,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2015,15529,563.8,707.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015,133527,585.7,1909.5,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,75673,624.1,1052.9,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,2016,271671,11162.8,16590.3,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
428,2016,120505,1444.4,2542.4,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
429,2016,11794,1012.9,1329.8,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
430,2016,0,0.0,0.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
431,2016,1268,0.0,3.9,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [23]:
y = final.PASSENGERS_TO_INDIA
y

0       37194
1       16676
2       13318
3      114087
4       76357
        ...
427    344803
428    141495
429     14028
430         0
431      1111
Name: PASSENGERS_TO_INDIA, Length: 432, dtype: int64

In [24]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
model.score(X,y)

0.992543825120332

In [26]:
df

,YEAR,QUARTER,COUNTRY_NAME,PASSENGERS_TO_INDIA,PASSENGERS_FROM_INDIA,FREIGHT_TO_INDIA,FREIGHT_FROM_INDIA
0,2015,Q1,AFGHANISTAN,37194,32721,96.7,676.4
1,2015,Q1,AUSTRALIA,16676,19075,89.7,423.7
2,2015,Q1,AUSTRIA,13318,15529,563.8,707.0
3,2015,Q1,BAHRAIN,114087,133527,585.7,1909.5
4,2015,Q1,BANGLADESH,76357,75673,624.1,1052.9
...,...,...,...,...,...,...,...
427,2016,Q4,UNITED KINGDOM,344803,271671,11162.8,16590.3
428,2016,Q4,UNITED STATES,141495,120505,1444.4,2542.4
429,2016,Q4,UZBEKISTAN,14028,11794,1012.9,1329.8
430,2016,Q4,VIETNAM,0,0,0.0,0.0
431,2016,Q4,YEMEN,1111,1268,0.0,3.9

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [31]:
dfle1 = df
dfle1.QUARTER = le.fit_transform(dfle1.QUARTER)
dfle1

,YEAR,QUARTER,COUNTRY_NAME,PASSENGERS_TO_INDIA,PASSENGERS_FROM_INDIA,FREIGHT_TO_INDIA,FREIGHT_FROM_INDIA
0,2015,0,AFGHANISTAN,37194,32721,96.7,676.4
1,2015,0,AUSTRALIA,16676,19075,89.7,423.7
2,2015,0,AUSTRIA,13318,15529,563.8,707.0
3,2015,0,BAHRAIN,114087,133527,585.7,1909.5
4,2015,0,BANGLADESH,76357,75673,624.1,1052.9
...,...,...,...,...,...,...,...
427,2016,3,UNITED KINGDOM,344803,271671,11162.8,16590.3
428,2016,3,UNITED STATES,141495,120505,1444.4,2542.4
429,2016,3,UZBEKISTAN,14028,11794,1012.9,1329.8
430,2016,3,VIETNAM,0,0,0.0,0.0
431,2016,3,YEMEN,1111,1268,0.0,3.9

In [32]:
dfle2 = dfle1
dfle2.COUNTRY_NAME = le.fit_transform(dfle2.COUNTRY_NAME)
dfle2

,YEAR,QUARTER,COUNTRY_NAME,PASSENGERS_TO_INDIA,PASSENGERS_FROM_INDIA,FREIGHT_TO_INDIA,FREIGHT_FROM_INDIA
0,2015,0,0,37194,32721,96.7,676.4
1,2015,0,1,16676,19075,89.7,423.7
2,2015,0,2,13318,15529,563.8,707.0
3,2015,0,3,114087,133527,585.7,1909.5
4,2015,0,4,76357,75673,624.1,1052.9
...,...,...,...,...,...,...,...
427,2016,3,49,344803,271671,11162.8,16590.3
428,2016,3,50,141495,120505,1444.4,2542.4
429,2016,3,51,14028,11794,1012.9,1329.8
430,2016,3,52,0,0,0.0,0.0
431,2016,3,53,1111,1268,0.0,3.9

In [35]:
X = dfle2[['YEAR','QUARTER','COUNTRY_NAME']].values
X

array([[2015,    0,    0],
       [2015,    0,    1],
       [2015,    0,    2],
       ...,
       [2016,    3,   51],
       [2016,    3,   52],
       [2016,    3,   53]], dtype=int64)

In [36]:
y = dfle2[['PASSENGERS_TO_INDIA']].values
y

array([[ 37194],
       [ 16676],
       [ 13318],
       [114087],
       [ 76357],
       [ 21266],
       [  6251],
       [  9540],
       [ 13272],
       [ 53072],
       [  2427],
       [ 27175],
       [ 13673],
       [ 88632],
       [     0],
       [160772],
       [150400],
       [  9521],
       [     0],
       [  8664],
       [ 14727],
       [ 37817],
       [     0],
       [  6582],
       [ 23830],
       [ 20089],
       [ 93178],
       [   609],
       [232818],
       [ 27191],
       [ 19313],
       [121569],
       [ 65210],
       [269011],
       [  3629],
       [287107],
       [     0],
       [ 34593],
       [381111],
       [  3374],
       [390386],
       [  8483],
       [208472],
       [ 32499],
       [  2595],
       [   554],
       [299368],
       [ 48881],
       [ 13722],
       [279656],
       [ 89464],
       [ 10220],
       [   977],
       [  6841],
       [ 26708],
       [ 13117],
       [ 10481],
       [131510],
       [ 66500],
       [ 18593],
       [ 12345],
       [  3688],
       [  9404],
       [ 55533],
       [  3365],
       [  6658],
       [  6725],
       [ 73737],
       [     0],
       [140655],
       [200874],
       [  7903],
       [     0],
       [  5693],
       [ 13999],
       [ 25353],
       [     0],
       [  4667],
       [ 19277],
       [ 14260],
       [113576],
       [  1918],
       [262200],
       [ 22494],
       [ 22918],
       [ 97838],
       [ 17994],
       [299995],
       [  3077],
       [323093],
       [   208],
       [ 23939],
       [385801],
       [  3965],
       [422871],
       [     0],
       [233186],
       [ 32344],
       [  1288],
       [  2600],
       [308994],
       [ 45687],
       [  5572],
       [271143],
       [ 83597],
       [ 12503],
       [  1196],
       [     0],
       [ 27081],
       [ 15141],
       [ 14994],
       [118138],
       [ 73625],
       [ 22725],
       [  6868],
       [  2339],
       [ 11480],
       [ 56476],
       [  3702],
       [ 17530],
       [  8242],
       [ 67002],
       [     0],
       [159881],
       [159333],
       [  5583],
       [  2586],
       [  6874],
       [ 18448],
       [ 29537],
       [     0],
       [  7241],
       [ 26330],
       [ 17742],
       [112137],
       [  1993],
       [230478],
       [ 22003],
       [ 18044],
       [ 73142],
       [ 13576],
       [284579],
       [  2958],
       [324276],
       [   470],
       [ 29120],
       [361686],
       [  5377],
       [378166],
       [     0],
       [237901],
       [ 34218],
       [  1472],
       [   541],
       [293122],
       [ 49767],
       [ 10178],
       [319070],
       [ 94023],
       [ 14620],
       [  1828],
       [    21],
       [ 24290],
       [ 18058],
       [ 15418],
       [134988],
       [ 82047],
       [ 24329],
       [ 11121],
       [  7124],
       [ 22728],
       [ 81441],
       [  3785],
       [ 11556],
       [ 13101],
       [ 99652],
       [     0],
       [152669],
       [189918],
       [  9165],
       [     0],
       [  8293],
       [ 18065],
       [ 35721],
       [     0],
       [  8448],
       [ 23814],
       [ 21144],
       [118033],
       [  2338],
       [258651],
       [ 36811],
       [ 22285],
       [100054],
       [ 32142],
       [322076],
       [  3478],
       [425728],
       [   457],
       [ 29382],
       [380930],
       [  5903],
       [447714],
       [     0],
       [240874],
       [ 36659],
       [  4858],
       [   558],
       [359590],
       [ 36867],
       [ 12147],
       [339201],
       [ 98269],
       [ 13289],
       [  2267],
       [    44],
       [ 39719],
       [ 16981],
       [ 10892],
       [131984],
       [ 83989],
       [ 18265],
       [  9083],
       [  9006],
       [ 28745],
       [ 74935],
       [  3328],
       [ 17222],
       [ 13214],
       [ 97136],
       [     0],
       [158643],
       [162482],
       [ 10990],
       [   993],
       [  7683],
       [ 15948],
       [ 39045],
       [     0],
       [  9072],
       [ 20720],
       [ 19239],
       [104000],
       [  1342],
       [272751],
       [ 31078],
       [ 21752],
       [ 97289],
       [ 29053],
       [358660],
       [  2565],
       [315745],
       [   691],
       [ 22177],
       [387154],
       [  6332],
       [403094],
       [     0],
       [251780],
       [ 31702],
       [  4218],
       [   848],
       [332072],
       [ 51627],
       [ 13210],
       [330255],
       [122017],
       [ 11584],
       [  2245],
       [    59],
       [ 22483],
       [ 15797],
       [  6363],
       [141578],
       [ 82053],
       [     0],
       [ 15185],
       [  3203],
       [ 21579],
       [ 69607],
       [  3542],
       [ 41304],
       [  6825],
       [ 69553],
       [     0],
       [148526],
       [188043],
       [  8083],
       [     0],
       [  5903],
       [ 16736],
       [ 36891],
       [     0],
       [  7787],
       [ 10983],
       [ 14417],
       [136471],
       [  2596],
       [299251],
       [ 26692],
       [ 24758],
       [101383],
       [ 53139],
       [356088],
       [  2886],
       [342744],
       [   461],
       [ 21458],
       [435796],
       [  6546],
       [443051],
       [     0],
       [254342],
       [ 30065],
       [  2057],
       [  1149],
       [351894],
       [ 51091],
       [  6474],
       [248339],
       [108922],
       [ 11547],
       [     0],
       [   430],
       [ 28759],
       [ 16293],
       [  7938],
       [138471],
       [ 83101],
       [     0],
       [ 10566],
       [  2372],
       [ 25816],
       [ 70802],
       [  3169],
       [ 39720],
       [  7309],
       [ 80845],
       [     0],
       [170451],
       [168865],
       [  6714],
       [  1732],
       [  7450],
       [ 20332],
       [ 39740],
       [     0],
       [  8673],
       [ 20207],
       [ 20473],
       [136375],
       [  2811],
       [266217],
       [ 23200],
       [ 23789],
       [ 97207],
       [ 60098],
       [357540],
       [  2715],
       [358504],
       [   457],
       [ 27458],
       [400886],
       [  6543],
       [395277],
       [     0],
       [276729],
       [ 32549],
       [  3614],
       [  1050],
       [349844],
       [ 56502],
       [ 10142],
       [317249],
       [115172],
       [ 13807],
       [     0],
       [   582],
       [ 37827],
       [ 19627],
       [  7903],
       [135094],
       [ 86076],
       [     0],
       [ 13170],
       [ 13609],
       [ 40920],
       [ 96971],
       [  4466],
       [ 41600],
       [ 13564],
       [108211],
       [     0],
       [168531],
       [188988],
       [  9553],
       [  1459],
       [  7950],
       [ 21750],
       [ 47221],
       [     0],
       [ 12124],
       [ 19459],
       [ 29487],
       [141255],
       [  3270],
       [279321],
       [ 34946],
       [ 25398],
       [118517],
       [ 70746],
       [369507],
       [  1371],
       [379866],
       [  1745],
       [ 64154],
       [397391],
       [  4695],
       [498117],
       [     0],
       [265920],
       [ 39647],
       [  6727],
       [   944],
       [373640],
       [ 67343],
       [ 10985],
       [344803],
       [141495],
       [ 14028],
       [     0],
       [  1111]], dtype=int64)

In [38]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[0])

In [39]:
ohe.fit_transform(X).toarray()

C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

array([[ 1.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  1.],
       [ 1.,  0.,  0.,  2.],
       ...,
       [ 0.,  1.,  3., 51.],
       [ 0.,  1.,  3., 52.],
       [ 0.,  1.,  3., 53.]])

In [40]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [82]:
train = pd.read_csv('Training.csv')
train = train.drop(['PASSENGERS_FROM_INDIA','FREIGHT_TO_INDIA','FREIGHT_FROM_INDIA'],axis=1)
train.head()

   YEAR QUARTER COUNTRY_NAME  PASSENGERS_TO_INDIA
0  2015      Q1  AFGHANISTAN                37194
1  2015      Q1    AUSTRALIA                16676
2  2015      Q1      AUSTRIA                13318
3  2015      Q1      BAHRAIN               114087
4  2015      Q1   BANGLADESH                76357

In [83]:
X = train.drop('PASSENGERS_TO_INDIA',axis=1)
Y = train['PASSENGERS_TO_INDIA']

In [84]:
X.head()

   YEAR QUARTER COUNTRY_NAME
0  2015      Q1  AFGHANISTAN
1  2015      Q1    AUSTRALIA
2  2015      Q1      AUSTRIA
3  2015      Q1      BAHRAIN
4  2015      Q1   BANGLADESH

In [85]:
Y.head()

0     37194
1     16676
2     13318
3    114087
4     76357
Name: PASSENGERS_TO_INDIA, dtype: int64

In [86]:
Q_dummy = pd.get_dummies(X.QUARTER)
Country_dummy = pd.get_dummies(X.COUNTRY_NAME)

In [87]:
X = pd.concat([X,Q_dummy,Country_dummy],axis='columns')

In [92]:
X = X.drop(['Q2','Q3','Q4'],axis=1)

In [93]:
X.head()

,YEAR,Q1,AFGHANISTAN,AUSTRALIA,AUSTRIA,BAHRAIN,BANGLADESH,BELGIUM,BHUTAN,BURMA,...,TAIWAN,TAJIKISTAN,THAILAND,TURKEY,TURKMENISTAN,UNITED KINGDOM,UNITED STATES,UZBEKISTAN,VIETNAM,YEMEN
0,2015,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
dt = pd.read_csv("Testing.csv")
dt.head()

   YEAR QUARTER COUNTRY_NAME
0  2017      Q1  AFGHANISTAN
1  2017      Q1    AUSTRALIA
2  2017      Q1      AUSTRIA
3  2017      Q1      BAHRAIN
4  2017      Q1   BANGLADESH

In [76]:
dummies3 = pd.get_dummies(dt.QUARTER)

In [79]:
dummies4 = pd.get_dummies(dt.COUNTRY_NAME)

In [52]:
merged2 = pd.concat([dt,dummies3,dummies4],axis='columns')
merged2

,YEAR,QUARTER,COUNTRY_NAME,Q1,AFGHANISTAN,AUSTRALIA,AUSTRIA,BAHRAIN,BANGLADESH,BELGIUM,...,TAIWAN,TAJIKISTAN,THAILAND,TURKEY,TURKMENISTAN,UNITED KINGDOM,UNITED STATES,UZBEKISTAN,VIETNAM,YEMEN
0,2017,Q1,AFGHANISTAN,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017,Q1,AUSTRALIA,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,Q1,AUSTRIA,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,Q1,BAHRAIN,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017,Q1,BANGLADESH,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,2017,Q1,BELGIUM,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,2017,Q1,BHUTAN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2017,Q1,BURMA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2017,Q1,CANADA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2017,Q1,CHINA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2017,Q1,EGYPT,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2017,Q1,ETHIOPIA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2017,Q1,FINLAND,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2017,Q1,FRANCE,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2017,Q1,GEORGIA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2017,Q1,GERMANY,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2017,Q1,HONG KONG,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2017,Q1,IRAN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2017,Q1,IRAQ,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2017,Q1,ISRAEL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2017,Q1,ITALY,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,2017,Q1,JAPAN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2017,Q1,JORDAN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2017,Q1,KAZAKHSTAN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2017,Q1,KENYA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2017,Q1,KOREA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2017,Q1,KUWAIT,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2017,Q1,KYRGYZSTAN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,2017,Q1,MALAYSIA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,2017,Q1,MALDIVES,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2017,Q1,MAURITIUS,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,2017,Q1,NEPAL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,2017,Q1,NETHERLANDS,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,2017,Q1,OMAN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,2017,Q1,PAKISTAN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,2017,Q1,QATAR,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,2017,Q1,REUNION,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,2017,Q1,RUSSIA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,2017,Q1,SAUDI ARABIA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,2017,Q1,SEYCHELLES,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,2017,Q1,SINGAPORE,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,2017,Q1,SOUTH AFRICA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,2017,Q1,SRI LANKA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,2017,Q1,SWITZERLAND,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,2017,Q1,TAIWAN,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
45,2017,Q1,TAJIKISTAN,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
46,2017,Q1,THAILAND,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
47,2017,Q1,TURKEY,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
48,2017,Q1,TURKMENISTAN,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
49,2017,Q1,UNITED KINGDOM,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
50,2017,Q1,UNITED STATES,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
51,2017,Q1,UZBEKISTAN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
52,2017,Q1,VIETNAM,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
53,2017,Q1,YEMEN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [60]:
from sklearn.preprocessing import LabelEncoder
le2 = LabelEncoder()

In [61]:
dfle3 = dt
dfle3.QUARTER = le.fit_transform(dfle3.QUARTER)
dfle3

    YEAR  QUARTER    COUNTRY_NAME
0   2017        0     AFGHANISTAN
1   2017        0       AUSTRALIA
2   2017        0         AUSTRIA
3   2017        0         BAHRAIN
4   2017        0      BANGLADESH
5   2017        0         BELGIUM
6   2017        0          BHUTAN
7   2017        0           BURMA
8   2017        0          CANADA
9   2017        0           CHINA
10  2017        0           EGYPT
11  2017        0        ETHIOPIA
12  2017        0         FINLAND
13  2017        0          FRANCE
14  2017        0         GEORGIA
15  2017        0         GERMANY
16  2017        0       HONG KONG
17  2017        0            IRAN
18  2017        0            IRAQ
19  2017        0          ISRAEL
20  2017        0           ITALY
21  2017        0           JAPAN
22  2017        0          JORDAN
23  2017        0      KAZAKHSTAN
24  2017        0           KENYA
25  2017        0           KOREA
26  2017        0          KUWAIT
27  2017        0      KYRGYZSTAN
28  2017        0        MALAYSIA
29  2017        0        MALDIVES
30  2017        0       MAURITIUS
31  2017        0           NEPAL
32  2017        0     NETHERLANDS
33  2017        0            OMAN
34  2017        0        PAKISTAN
35  2017        0           QATAR
36  2017        0         REUNION
37  2017        0          RUSSIA
38  2017        0    SAUDI ARABIA
39  2017        0      SEYCHELLES
40  2017        0       SINGAPORE
41  2017        0    SOUTH AFRICA
42  2017        0       SRI LANKA
43  2017        0     SWITZERLAND
44  2017        0          TAIWAN
45  2017        0      TAJIKISTAN
46  2017        0        THAILAND
47  2017        0          TURKEY
48  2017        0    TURKMENISTAN
49  2017        0  UNITED KINGDOM
50  2017        0   UNITED STATES
51  2017        0      UZBEKISTAN
52  2017        0         VIETNAM
53  2017        0           YEMEN

In [63]:
dfle4 = dfle3
dfle4.COUNTRY_NAME = le.fit_transform(dfle4.COUNTRY_NAME)
dfle4

    YEAR  QUARTER  COUNTRY_NAME
0   2017        0             0
1   2017        0             1
2   2017        0             2
3   2017        0             3
4   2017        0             4
5   2017        0             5
6   2017        0             6
7   2017        0             7
8   2017        0             8
9   2017        0             9
10  2017        0            10
11  2017        0            11
12  2017        0            12
13  2017        0            13
14  2017        0            14
15  2017        0            15
16  2017        0            16
17  2017        0            17
18  2017        0            18
19  2017        0            19
20  2017        0            20
21  2017        0            21
22  2017        0            22
23  2017        0            23
24  2017        0            24
25  2017        0            25
26  2017        0            26
27  2017        0            27
28  2017        0            28
29  2017        0            29
30  2017        0            30
31  2017        0            31
32  2017        0            32
33  2017        0            33
34  2017        0            34
35  2017        0            35
36  2017        0            36
37  2017        0            37
38  2017        0            38
39  2017        0            39
40  2017        0            40
41  2017        0            41
42  2017        0            42
43  2017        0            43
44  2017        0            44
45  2017        0            45
46  2017        0            46
47  2017        0            47
48  2017        0            48
49  2017        0            49
50  2017        0            50
51  2017        0            51
52  2017        0            52
53  2017        0            53

In [64]:
merged2 = pd.concat([dt,dummies3,dummies4],axis='columns')
merged2

,YEAR,QUARTER,COUNTRY_NAME,Q1,AFGHANISTAN,AUSTRALIA,AUSTRIA,BAHRAIN,BANGLADESH,BELGIUM,...,TAIWAN,TAJIKISTAN,THAILAND,TURKEY,TURKMENISTAN,UNITED KINGDOM,UNITED STATES,UZBEKISTAN,VIETNAM,YEMEN
0,2017,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,0,2,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,0,3,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017,0,4,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,2017,0,5,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,2017,0,6,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2017,0,7,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2017,0,8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2017,0,9,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2017,0,10,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2017,0,11,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2017,0,12,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2017,0,13,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2017,0,14,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2017,0,15,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2017,0,16,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2017,0,17,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2017,0,18,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2017,0,19,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2017,0,20,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,2017,0,21,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2017,0,22,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2017,0,23,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2017,0,24,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2017,0,25,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2017,0,26,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2017,0,27,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,2017,0,28,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,2017,0,29,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2017,0,30,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,2017,0,31,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,2017,0,32,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,2017,0,33,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,2017,0,34,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,2017,0,35,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,2017,0,36,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,2017,0,37,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,2017,0,38,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,2017,0,39,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,2017,0,40,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,2017,0,41,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,2017,0,42,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,2017,0,43,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,2017,0,44,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
45,2017,0,45,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
46,2017,0,46,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
47,2017,0,47,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
48,2017,0,48,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
49,2017,0,49,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
50,2017,0,50,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
51,2017,0,51,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
52,2017,0,52,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
53,2017,0,53,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [67]:
test = merged2.drop(['QUARTER','COUNTRY_NAME'], axis='columns')
test

,YEAR,Q1,AFGHANISTAN,AUSTRALIA,AUSTRIA,BAHRAIN,BANGLADESH,BELGIUM,BHUTAN,BURMA,...,TAIWAN,TAJIKISTAN,THAILAND,TURKEY,TURKMENISTAN,UNITED KINGDOM,UNITED STATES,UZBEKISTAN,VIETNAM,YEMEN
0,2017,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2017,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2017,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,2017,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,2017,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
45,2017,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
46,2017,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
47,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
48,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
49,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
50,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
51,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
52,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
53,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [94]:
reg = linear_model.LinearRegression()
reg.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [95]:
predictions = reg.predict(test)

In [96]:
predictions = predictions.astype(int)

In [97]:
predictions

array([ 39560,  24856,  19848, 139896,  88256,  22232,  19720,  15416,
        30872,  78856,  12360,  34592,  19416,  94552,   9208, 166568,
       185208,  17592,   9984,  16392,  26472,  45496,   9096,  17136,
        29600,  28744, 128448,  11208, 271856,  37080,  31312, 109928,
        51824, 336264,  11864, 353712,   9656,  40648, 400392,  14376,
       431360,  10088, 255160,  42760,  12408,  10048, 342592,  59976,
        19312, 315232, 115664,  21744,  10112,  10184])

In [98]:
test_dup = pd.read_csv('Testing.csv')

In [99]:
sub = pd.DataFrame()
sub['COUNTRY_NAME'] = test_dup.COUNTRY_NAME
sub['PASSENGERS_TO_INDIA'] = predictions
sub.to_csv('submission_linear.csv',index=False)

In [100]:
sub.shape

(54, 2)